* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
body {
    background: #FEE3EA;
}

h1 {
    font-size: 5rem;
    font-family: 'Abril Fatface', cursive;
}
h2 {
    font-size: 2.8rem;
    font-family: 'Abril Fatface', cursive;
}
h3 {
    font-size: 2.2rem;
    font-family: 'Sarabun', sans-serif;
}
h4 {
    font-size: 2rem;
    font-family: 'Sarabun', sans-serif;
}
p {
    font-size: 1rem;
    font-family: 'Sarabun', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}
main > section {
    grid-column: 2/3;
}

.knap {
    padding: 1rem;
    background-color: #FF2929;
    color: #FEE3EA;
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
}

/*****Menu og header*****/
header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    box-shadow: 0px 0px 10px rgb(255, 192, 192);
    padding: 0.3rem 0.5rem;
    
    align-items: center;
    width: 100%;
    background-color: #FEE3EA;
    flex-wrap: wrap;

}

header li {
    list-style: none;
    margin: 0.5rem;
}

header nav {
    display: contents;
}

header a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0.1rem;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: #FF2929;
    border: 2px solid #FF2929;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    font-family: 'Abril Fatface', cursive;
   
}
#menu {
    flex-basis: 100%;
    margin: 1rem;
    padding: 1rem;
}
nav a:hover {
    color: white;
    border: 2px solid white;
}

.logo img {
    width: 50px;
    margin: 0.5rem;
}

#menuknap {
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #FF2929;
    background-color: #FEE3EA;
    
}

.hidden {
    display: none;
}
/****Menu og header slut****/

footer {
display: grid;
grid-template-columns: 3fr 1fr 3fr;
margin-top: 2rem;
padding: 0.5rem;
box-shadow: 0px -5px 8px #ffd5e0;
}
footer #right {
    display: flex;
}
footer .fb {
    width: 67%;
}
footer .ig {
    width: 60%;
}

/*****index********/


#first_section {
    background-image: url(http://anna-palsdottir.dk/kea/webp/jeg.webp);
    background-color: #FEE3EA;
    width: 100%;
    height: 56.25vh;
    background-position: 75%;
    background-repeat: no-repeat;
    background-size: contain;
}
#first_section .heading {
    grid-column: 2/5;
}
.opgave_knap {
    grid-column: 2;
 }
#first_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
   }

#second_section {
    background: #FFF9B5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}
#second_section p {
    padding: 2rem;
}
#second_section img {
    width: 80%;
    margin-left: 2rem;
}

#opgave_section {
    background-color: #FEE3EA;
}
#opgave_section h2,
#opgave_section h3, 
#opgave_section h4 {
    text-align: center;
    color: black;
}
#opgave_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#opgave_section .col_top_left,
#opgave_section .col_top_right,
#opgave_section .col_bottom_left,
#opgave_section .col_bottom_right {
    margin: 2rem;
    padding: 1.5rem;
}
#opgave_section .col_top_left {
    background-image: url(billeder/grundlæggende.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
}
#opgave_section .col_top_right {
    background-image: url(billeder/ux.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
}
#opgave_section .col_bottom_left {
    background-image: url(billeder/trash.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
}
#opgave_section .col_bottom_right {
    background-image: url(billeder/ro\ copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
}
#opgave_section a {
    text-decoration: none;
}
#opgave_section a:hover {
    opacity: 50%;
    padding: 0.3rem;
}

/****index slut*******/
/*****OM********/

#section1 {
    background: #FFF9B5;
}
#section2 {
    background: #FFF9B5;
}
#section3 {
    background: #FEE3EA;
}

#section2 .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#section1 h1,
#section3 h2 {
    text-align: center;
    padding: 2rem;
}
#opgave_section h2 {
    margin-top: 3rem;
    
}
#section2 img {
    width: 100%;
    height: auto;
    padding: 2rem;
}
#section2 .col_right {
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 4rem;
}

#section3 .section_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#section3 .col {
    background-color: #C6F6FF;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
}
#section3 h3 {
    font-family: 'Abril Fatface', cursive; 
    font-weight:lighter;
}


/*****WEB og andre grundlæggende undersider*******/
#section_one h1 {
    color: #FF2929;
}
#section_two .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}
#section_two .col_left {
    padding-right: 2rem;
    padding-bottom: 2rem;
}
#section_two .col_right {
    padding-top: 3rem;
}
#section_one h1,
#section_two h2,
#section_two h3 {
    text-align: center;
    margin: 2rem;
}
#section_three {
    background: #FFF9B5;
}
#section_three .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
}
#section_three img {
    width: 80%;
    height: auto;
}
#section_three .col_left {
    padding-bottom: 2rem;
}
#section_three .cup {
    padding: rem;
}

/******MEDIA QUERIES********/
@media (min-width: 700px) {
    #menu {
        flex-basis: 0;
    }
    #menuknap {
        display: none;
    }
    nav {
        display: flex;
    }
    header ul {
        display: flex;
    }
    .hidden {
        display: flex;
    }
}


@media (max-width: 700px) {
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    .knap {
        font-size: 0.8rem;
    }
    
    #first_section .heading {
        grid-column: 1/5;
        grid-row: 2;
     }
     #first_section .opgave_knap {
        grid-column: 1/5;
        grid-row: 3;
     }
     #second_section {
         display: block;
         grid-template-columns: 1fr 1fr 1fr;
     } 
     #second_section .knap {
         margin: 2rem;
     }
     #opgave_section .section_wrapper {
         display: block;
     }
     /****OM****/
     #section2 .section_wrapper {
        display: block;
    }
     #section3 .section_wrapper {
         display: block;
     }
     /****Grundlæggende sider***/
     #section_two .section_wrapper {
         display: block;
     }
     #section_two h2,
     #section_two h3 {
        margin: 0;
    }
    #section_two .col_right {
        padding-top: 3rem;
    }
     #section_three .section_wrapper {
        display: block;
    }
    footer {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}

