* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}
main > section {
    grid-column: 2/3;
}

/*****Menu og header*****/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FEE3EA;
}

header li {
    display: inline-block;
    margin: 1rem;
    transform: none;
    list-style: none;
} 

nav a {
    text-decoration: none;
    cursor: pointer;
    color: #FF2929;
    border: 2px solid #FF2929;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
}

a:hover {
    color: white;
    border: 2px solid white;
}

.logo img {
    width: 50px;
    margin: 0.5rem;
}
/****Menu og header slut****/

#first_section {
    background-image: url(billeder/jeg.png);
    background-color: #FEE3EA;
    width: 100%;
    height: 56.25vh;
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: contain;
}
#first_section .section_wrapper {
    grid-template-rows: 1fr 1fr;
   }

#second_section {
    background-color: #FFF9B5;
}
#third_section {
    background-color: #d7f9ff;
}