* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}
main > section {
    grid-column: 2/3;
}

/*****Menu og header*****/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FEE3EA;
}

header li {
    display: inline-block;
    margin: 1rem;
    transform: none;
    list-style: none;
} 

nav a {
    text-decoration: none;
    cursor: pointer;
    color: #FF2929;
    border: 2px solid #FF2929;
    border-radius: 1rem;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
}

a:hover {
    color: white;
    border: 2px solid white;
}

.logo img {
    width: 50px;
    margin: 0.5rem;
}

#menuknap {
    display: inline-block;
    text-decoration: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #FF2929;
    background-color: #FEE3EA;
    
}

.hidden {
    display: none;
}
/****Menu og header slut****/

#first_section {
    background-image: url(billeder/jeg.png);
    background-color: #FEE3EA;
    width: 100%;
    height: 56.25vh;
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: contain;
}
#first_section .section_wrapper {
    grid-template-rows: 1fr 1fr;
   }

#second_section {
    background-color: #FFF9B5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}

#third_section {
    background-color: #FEE3EA;
}
#third_section h2,
#third_section h3, 
#third_section h4 {
    text-align: center;
}
#third_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#third_section .col_top_left,
#third_section .col_top_right,
#third_section .col_bottom_left,
#third_section .col_bottom_right {
    margin: 2rem;
    padding: 1.5rem;
}
#third_section .col_top_left {
    background-image: url(billeder/grundlæggende.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#third_section .col_top_right {
    background-image: url(billeder/ux.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#third_section .col_bottom_left {
    background-image: url(billeder/trash.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#third_section .col_bottom_right {
    background-image: url(billeder/ro\ copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
#third_section a {
    text-decoration: none;
}
#third_section a:hover {
    opacity: 35%;
}

@media (min-width: 700px) {
    #menu {
        flex-basis: 0;
    }
    #menuknap {
        display: none;
    }
    nav {
        display: flex;
    }
    header ul {
        display: flex;
    }
    .hidden {
        display: flex;
    }
}